@model Autopodbor_312.Models.News

@{
	ViewData["Title"] = "Создать новость";
}

<h1 class="text-center mt-4">Добавить новость</h1>
<hr />

<div class="row justify-content-evenly">
	<div class="col-md-5">
		<form asp-action="CreateNews" enctype="multipart/form-data" class="form">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group mb-3">
				<label asp-for="NameRu" class="control-label">Название новости на русском</label>
				<input type="text" maxlength="50" asp-for="NameRu" class="form-control" required="required" />
				<span asp-validation-for="NameRu" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="BodyRu" class="control-label">Описание новости на русском</label>
				<textarea asp-for="BodyRu" class="form-control" required="required"></textarea>
				<span asp-validation-for="BodyRu" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="NameKy" class="control-label">Название новости на кыргызском</label>
				<input type="text" maxlength="50" asp-for="NameKy" class="form-control" required="required" />
				<span asp-validation-for="NameKy" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="BodyKy" class="control-label">Описание  новости на кыргызском</label>
				<textarea asp-for="BodyKy" class="form-control" required="required"></textarea>
				<span asp-validation-for="BodyKy" class="text-danger"></span>
			</div>
			<div class="custom-file mb-3">
				<label class="custom-file-label" for="customFile">Выберите фото для главной страницы</label>
				<input type="file" class="form-control btn btn-outline-dark" name="mainPic" required="required" />
			</div>
			<div class="form-group mb-3">
				<label сlass="control-label">Выберите фотогрфии для детальной страницы</label>
				<input type="file" class="form-control btn btn-outline-dark" name="uploadFiles" multiple />
			</div>
			<div class="form-group mb-3">
				<label сlass="control-label">Выберите видео для детальной страницы</label>
				<textarea type="text" class="form-control" name="video" placeholder="Введите id видео на YouTube через пробел"></textarea>
			</div>
			<div class="form-group mb-3">
				<button type="submit" class="btn btn-outline-dark">Создать новость</button>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}