@model List<News>

@{
    ViewData["Title"] = "Список новостей";
}
   
<a asp-action="CreateNews" asp-controller="News">Добавить новость</a>

<div class="card" style="width: 18rem;">
	@foreach (var item in Model)
	{
		<img src="@item.MainImagePath" class="card-img-top" alt="photo">
		<div class="card-body">
			<h5 class="card-title">@item.Name</h5>
			@if (item.Publicate == true)
			{
				<p class="card-text">Опубликовать</p>
			}
			<p class="card-text">Снять с публикации</p>
			<a asp-controller="News" asp-action="EditNews" asp-route-id="@item.Id">Изменить</a>
			<a asp-controller="News" asp-action="EditNews" asp-route-id="@item.Id">Подробнее</a>
		</div>
	}
</div>
