@model Autopodbor_312.Models.Services

@{
    ViewData["Title"] = "Изменение сервиса";
}

<h1>Изменить</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditServices" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameRu" class="control-label">Название услуги на русском</label>
                <input asp-for="NameRu" class="form-control" />
                <span asp-validation-for="NameRu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionRu" class="control-label">Описание услуги на русском</label>
                <textarea asp-for="DescriptionRu" class="form-control"></textarea>
                <span asp-validation-for="DescriptionRu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameKy" class="control-label">Название услуги на кыргызском</label>
                <input asp-for="NameKy" class="form-control" />
                <span asp-validation-for="NameKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionKy" class="control-label">Описание услуги на кыргызском</label>
                <textarea asp-for="DescriptionKy" class="form-control"></textarea>
                <span asp-validation-for="DescriptionKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>
                    <input type="file" name="servicePhotoFile" class="form-control">
                </p>
            </div>
            @if (Model.IsAdditional == true)
            {
                <input type="hidden" asp-for="IsAdditional" value="true"/>
            }
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Services">Назад</a>
</div>