body {
    padding-bottom: 2%;
}

h1 {
    margin-top: 2% !important;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.btn-primary {
    background-color: #198754 !important;
    border: none !important;
    border-radius: none !important;
}

.btn {
    color: wheat !important;
}