.text-center {
    text-align: center;
}

.firstBlockText {
    font-size: 20px;
}

.firstBlock {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.firstBlockHeader {
    margin-bottom: 4%;
}

.carImg {
    width: 80% !important;
    height: 650px !important;

}

.secondBlock {
    margin-bottom: 4%;
}

.video {
    width: 80%;
    height: 650px;
}

.thirdBlock {
    margin-bottom: 4%;
}
.carousel-control-prev {
    width: 10%;
    color: darkslategrey;
    background-color: #198754;
}
.carousel-control-next {
    width: 10%;
    color: darkslategrey;
    background-color: #198754;
}
@media only screen and (max-width: 1024px) {

    .firstBlockText {
        font-size: 15px;
    }

    .carImg {
        height: 600px !important;
    }

    .video {
        width: 100%;
        height: 600px;
    }

    .carousel1 {
        width: 80%;
        margin: auto;
    }

    .carousel2 {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 769px) {
   
    .carImg {
        height: 400px !important;
    }

    .video {
        width: 100%;
        height: 500px;
        border-radius: 20px;
    }

    .carousel2 {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 577px) {
   
    .carImg {
        height: 320px !important;
        border-radius: 0px;
    }

    .video {
        width: 80%;
        height: 320px;
        border-radius: 0px;
    }

    .carousel2 {
        width: 80%;
        margin: auto;
    }

    .carousel1 {
        width: 80%;
    }
}

@media only screen and (max-width: 426px) {
    
    .carImg {
        height: 250px !important;
    }

    .video {
        width: 80%;
        height: 250px;
        border-radius: 0px;
    }

    .carousel2 {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 376px) {
   
    .carImg {
        height: 250px !important;
    }

    .video {
        width: 100%;
        height: 250px;
        border-radius: 0px;
    }

    .carousel2 {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 320px) {
    
    .carImg {
        height: 200px !important;
    }

    .video {
        width: 100%;
        height: 200px;
        border-radius: 0px;
    }

    .carousel2 {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 281px) {
    
    .carImg {
        height: 220px !important;
    }

    .video {
        width: 100%;
        height: 220px;
        border-radius: 0px;
    }

    .carousel2 {
        width: 100%;
        margin: auto;
    }

    .firstBlockText {
        font-size: 12px;
    }

    .firstBlockHeader {
        font-size: 25px;
    }
}
