<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autopodbor_312</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Здесь будет лого</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                </li>        
                                <li class="nav-item">
                                        <form method="post" asp-controller="Admin" asp-action="LogOff">
                                        <input type="submit" value="Выйти" />
                                    </form>
                                </li>
                                  <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="IndexServices">Services</a>
                                </li>    
                        }
                        else
                        {
                             <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                </li>   
                                <li class="nav-item">
                                    <a asp-controller="Admin" asp-action="Login">Войти</a>
                                </li>
                                  <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="IndexServices">Services</a>
                                </li>  
                        }
                    </ul>
                </div>

              <div class="navbar-nav ml-auto">

                  <div class="btn-group">
  <button class="btn  btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Social Media
  </button>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="https://www.instagram.com/autopodbor.kgz/reels/">Instagram  <img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" style="width:25px;height:25px;"></a>
      <a class="dropdown-item" href="#">Whats Up    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384023.png" style="width:26px;height:26px;"></a>
      <a class="dropdown-item" href="#">Telegram        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111813.png" style="width:26px;height:26px;"></a>
  </div>
</div>

		
        </div>		
	</div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Autopodbor_312 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>	
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

    </script>


}
