/*.btn {
    margin-bottom: 5px !important;
    background-color: #00a900 !important;
    color: wheat !important;
    border: none !important;
}

.card-body {
    text-align: center;
}

.card-img-top {
    height: 270px !important;
}

.card {
    margin-bottom: 20px;
}*/