.secondBlock {
    margin-top: 30px !important;
}

.buttons {
    color: white !important;
    background-color: #198754;
    border-color: #257d70;
    width: 70%;
    margin-left: 14%;
    margin-bottom: 30px;
    font-size: 20px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #0e4f31;
}

.card {
    background-color: #38b09d;
    width: 100%;
}

.card-img-top {
    height: 350px;
}

.cuttedText {
    font-size: 20px;
    text-align: center;
}

.allCard {
    margin-bottom: 30px;
}

.card-body {
    background-color: #38b09d;
    height: 300px;
}
.btn-style {
    color: white !important;
    background-color: #198754;
    border-color: #257d70;
}
@media only screen and (max-width: 992px) {
    .card-img-top {
        height: 320px;
    }

    .card-body {
        height: 300px;
    }
}

@media only screen and (max-width: 679px) {

    .card-img-top {
        height: 300px;
    }

    .card-body {
        height: 280px;
    }
    .col-style {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 576px) {
    .card-img-top {
        height: 280px;
    }

    .card-body {
        height: 250px;
    }
}

@media only screen and (max-width: 525px) {
    .card-img-top {
        height: 280px;
    }

    .card-body {
        height: 250px;
    }
}

@media only screen and (max-width: 426px) {
    .card-img-top {
        height: 250px;
    }

    .card-body {
        height: 220px;
    }
    .select-style {
        flex-direction: column;
    }
    .col-style{
        margin-bottom: 20px; 
    }
}

@media only screen and (max-width: 375px) {

    .card-img-top {
        height: 250px;
    }

    .allCard {
        margin-bottom: 100px;
    }

    .card-body {
        height: 230px;
    }
}

@media only screen and (max-width: 320px) {

    .card-img-top {
        height: 230px;
    }

    .allCard {
        margin-bottom: 40px;
    }

    .card-body {
        height: 300px;
    }
}
