@model Autopodbor_312.Models.Services

@{
    ViewData["Title"] = "Дополнительные услуги";
}

<h1>Дополнительные услуги</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-md-5">
            @Model.AdditinalServiceText
        </dt>
    </dl>
</div>
<div>
    <a asp-action="IndexServices">Back to List</a>
</div>
