<link type="text/css" rel="stylesheet" href="~/css/Admin/AdminArea.css" />
<header>
</header>
<body>
	<div>
		Test
	</div>
	@if (User.IsInRole("admin"))
	{
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Сервисы
			</button>
			<ul class="dropdown-menu">
				<li> <a class="btn btn-info" asp-controller="Service" asp-action="Services">Посмотреть Сервисы</a></li>
				<li> <a class="btn btn-info" asp-controller="Service" asp-action="CreateServices">Создать Сервисы </a></li>
			</ul>
		</div>
	}
	@if (User.IsInRole("portfolioManager") || User.IsInRole("admin"))
	{
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Портфолио
			</button>
			<ul class="dropdown-menu">
				<li> <a class="btn btn-info" asp-controller="Media" asp-action="IndexPortfolio"> Посмотреть Портфолио </a></li>
				<li> <a class="btn btn-info" asp-controller="Media" asp-action="CreatePortfolio"> Создать Портфолио </a></li>
			</ul>
		</div>
	}
	@if (User.IsInRole("mediaManager") || User.IsInRole("admin"))
	{
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Новости
			</button>
			<ul class="dropdown-menu">
				<li> <a class="btn btn-info" asp-controller="Media" asp-action="Index"> Посмотреть Новости </a></li>
				<li> <a class="btn btn-info" asp-controller="Media" asp-action="CreatedNews"> Новость Добавить </a></li>
			</ul>
		</div>
	}

	@if (User.IsInRole("admin"))
	{
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Калькулятор
			</button>
			<ul class="dropdown-menu">
				<li> <a class="btn btn-info" asp-controller="Calculator" asp-action="EditCalculator"> Редактировать Калькулятор</a></li>
			</ul>
		</div>
	}

	@if (User.IsInRole("admin"))
	{
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Менеджеры
			</button>
			<ul class="dropdown-menu">
				<li> <a class="btn btn-info" asp-controller="Admin" asp-action="Index"> Посмотреть Менеджеров </a></li>
				<li> <a class="btn btn-info" asp-controller="Admin" asp-action="Register"> Добавить Менеджера </a></li>
			</ul>
		</div>
	}

	@if (User.IsInRole("admin"))
	{
		<div class="btn-group">
			<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Контакты
			</button>
			<ul class="dropdown-menu">
				<li> <a class="btn btn-info" asp-controller="ContactInformations" asp-action="Edit"> Редактировать Контакты </a></li>
			</ul>
		</div>
	}
</body>
<footer>
</footer>

