@model List<Autopodbor_312.Models.Services>

@{
    ViewData["Title"] = "Index";
}

@if(User.IsInRole("admin")) {
    <div>
         <p>
        <a asp-action="CreateServices">Create New Service</a>
    </p>
    </div>
   
}
<div class=row>
    @foreach (var item in Model)
    {
        <div class="card col-4" style="width: 18rem;">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3b7b527518607.560acd8ccb0e9.jpg" class="card-img-top" alt="cafe">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                    @if (User.IsInRole("admin")) {
                        <a asp-action="EditServices" asp-route-id="@item.Id">Edit  |</a>
                        <a asp-action = "DeleteServices" asp-route-id="@item.Id"> Delete </a>
                      }
            </div>
        </div>
    }        
    </div>
