@model Autopodbor_312.Models.MainPage

@{
    ViewData["Title"] = "Добавление инструмента";
}

<form asp-action="CreateTool" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TitleRu" class="control-label">Название инструмента на русском</label>
        <input asp-for="TitleRu" class="form-control" required="required"/>
    </div>
    <div class="form-group">
        <label asp-for="DescriptionRu" class="control-label">Описание инструмента на русском</label>
        <textarea asp-for="DescriptionRu" class="form-control" required="required"></textarea>
    </div>
        <div class="form-group">
        <label asp-for="TitleKy" class="control-label">Название инструмента на кыргызском</label>
        <input asp-for="TitleKy" class="form-control" required="required" />
    </div>
    <div class="form-group">
        <label asp-for="DescriptionKy" class="control-label">Описание инструмента на кыргызском</label>
        <textarea asp-for="DescriptionKy" class="form-control" required="required"></textarea>
    </div>
    <div class="custom-file">
        <label class="custom-file-label" for="customFile">Выберите фото</label>
        <input type="file" name="file" required="required" /><br>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить инструмент" class="btn btn-primary" />
    </div>
</form>