@model Autopodbor_312.Models.MainPage

@{
    ViewData["Title"] = "Удаление инструмента";
}

<h1>Удаление баннера</h1>
<h3>Вы действительно хотите удалить баннер?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название инструмента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleRu)
        </dd>
        <dt class="col-sm-2">
            Описание инструмента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionRu)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
    </form>
</div>
