.card-body {
    padding: 0;
}
.card-body a {
    background-color: #6b6b6b;
}
@media screen and (max-width: 2562px) {
    .banner {
        font-size: calc(100vw - 98.2vw);
        
    }
    .mTop {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 300px;
    }
    .aib {
        font-size: calc(100vw - 99.1vw);
    }
}
@media screen and (max-width: 1600px) {

    .banner {
        font-size: calc(100vw - 96.9vw);
    }
    .mTop {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 400px;
    }
    .aib {
        font-size: calc(100vw - 98.4vw);
    }

}
@media screen and (max-width: 1487px) {
    .mTop {
        height: 300px;
    }
}
    @media screen and (max-width: 1441px) {

        .banner {
            font-size: calc(100vw - 96.7vw);
        }

        .mTop {
            margin-top: 50px;
            margin-bottom: 50px;
            height: 410px;
        }

        .aib {
            font-size: calc(100vw - 98.1vw);
        }

        .card {
            border-radius: 10px;
        }
    }
@media screen and (max-width: 1330px) {
    .mTop {
        height: 350px;
    }
}

    @media screen and (max-width: 1200px) {

        .banner {
            font-size: calc(100vw - 96.8vw);
        }

        .img-size {
            max-width: 100%;
            height: 300px;
        }

        .mTop {
            margin-top: 35px;
            margin-bottom: 35px;
            height: 300px;
        }

        .banner-second {
            height: 600px;
        }

        .aib {
            font-size: calc(100vw - 98.2vw);
        }

        .card {
            border-radius: 0px;
        }
    }

    @media screen and (max-width: 992px) {

        .banner {
            font-size: calc(100vw - 97.8vw);
        }

        .img-size {
            max-width: 100%;
            height: 200px;
        }

        .mTop {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 220px;
        }

        .banner-second {
            height: 450px;
        }

        .aib {
            font-size: calc(100vw - 97.8vw);
        }

        .card {
            border-radius: 0px;
        }
    }

    @media screen and (max-width: 770px) {

        .banner {
            font-size: calc(100vw - 96.8vw)
        }

        .img-size {
            max-width: 100%;
            height: 100%;
        }

        .mTop {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 450px;
        }

        .banner-second {
            height: 450px;
        }

        .aib {
            font-size: calc(100vw - 98.1vw)
        }

        .card {
            border-radius: 0px;
            /* font-size:*/
        }
    }
@media screen and (max-width: 550px) {
    .mTop {
        height: 400px;
    }
}
  

    @media screen and (max-width: 426px) {
        .banner {
            font-size: calc(100vw - 95.9vw)
        }

        .mTop {
            height: 350px;
        }

        .banner-second {
            height: 300px;
        }
    }
@media screen and (max-width: 480px) {
    .mTop {
        height: 350px;
    }
}
    @media screen and (max-width: 376px) {
        .mTop {
            height: 310px;
        }
    }

    @media screen and (max-width: 321px) {
        .banner {
            font-size: calc(100vw - 95.1vw)
        }

        .mTop {
            height: 300px;
        }

        .banner-second {
            height: 200px;
        }
    }

    .tool, p, h5 {
        font-weight: 700;
        text-align: center;
    }

    .tool {
        font-size: calc(100vw - 97.5vw);
    }

.btn-success:hover {
    background-color: #4d4d4d;
}

    .carousel-control-prev:hover {
        color: #c81e1e;
    }
