.card{
    border:0;
}
.card-body{
    padding-top:0;
}
.social-iconsInfo {
    padding: 0px;
    width: 100%;
}

.social-iconsInfo div {
    margin: 3px;
}
.fontSizeText {
    color: black;
    font-size: 50px;
    text-decoration: none;
}
.fontSizeTitle {
    color: black;
    font-size: 50px;
}

.fontSizeText:hover {
    color: #55acee;
    font-size: 55px;
}
.social-iconsInfo .prm .link-icon {
    Display: inline-block;
    color: black;
    font-size: 50px;
    height: 80px;
    width: 83px;
    text-decoration: none;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    pointer-events: auto;
}

.social-iconsInfo .prm:nth-child(2) .link-icon {
    color: #55acee;
}
.social-iconsInfo .prm:nth-child(3) .link-icon {
    color: #55acee;
}

.social-iconsInfo1 .prm:nth-child(1) .link-icon {
    color: #bf810d;
}

.social-iconsInfo1 .prm:nth-child(2) .link-icon {
    color: black;
}
.social-iconsInfo1 .prm:nth-child(3) .link-icon {
    color: red;
}
.social-iconsInfo1 .prm:nth-child(4) .link-icon {
    color: #269615;
}
.social-iconsInfo1 .prm:nth-child(5) .link-icon {
    color: #3e58cf;
}

.social-iconsInfo .prm:nth-child(2) .link-icon:hover {
    color: #054461;
}
.social-iconsInfo .prm:nth-child(3) .link-icon:hover {
    color: #054461;
}
.social-iconsInfo1 .prm:nth-child(1) .link-icon:hover {
    color: #ebe713;
}
.social-iconsInfo1 .prm:nth-child(2) .link-icon:hover {
    color: #9410b5;
}
.social-iconsInfo1 .prm:nth-child(3) .link-icon:hover {
    color: #961f08;
}
.social-iconsInfo1 .prm:nth-child(4) .link-icon:hover {
    color: #055e0f;
}
.social-iconsInfo1 .prm:nth-child(5) .link-icon:hover {
    color: #05125e;
}

.social-iconsInfo .prm .link-icon .icon {
    position: relative;
    transition: .5s;
    z-index: 3;
}
.social-iconsInfo .prm .link-icon:hover .icon {
    transform: rotateY(360deg);
    font-size: 60px;
}

.list-group-item {
    border: 0;
}
.marginTop{
    margin-top:20px;
}

@media screen and (max-width: 2562px) {
    .fontSize {
        font-size: 50px;
    }
    .marginTop {
        margin-top: 90px;
    }
    .fontSizeText {
        font-size: 50px;
    }
    .fontSizeText:hover {
            font-size: 55px;
    }
    .fontSizeTitle {
        font-size: 50px;
    }
}

@media screen and (max-width: 1600px) {
    .fontSize {
        font-size: 50px;
    }
    .marginTop {
        margin-top: 90px;
    }
    .fontSizeText {
        font-size: 50px;
    }

    .fontSizeText:hover {
        font-size: 55px;
    }
    .fontSizeTitle {
        font-size: 50px;
    }
    
}

@media screen and (max-width: 1441px) {

    .fontSize {
        font-size: 40px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
        font-size: 50px;
    }
    .marginTop {
        margin-top: 90px;
    }
    .fontSizeText {
        font-size: 40px;
    }

    .fontSizeText:hover {
            font-size: 50px;
    }
    .fontSizeTitle {
        font-size: 40px;
    }
}
@media screen and (max-width: 1200px) {

    .social-iconsInfo .prm .link-icon {
        color: black;
        font-size: 35px;
        height: 42px;
        width: 48px;
    }
    .fontSize{
        font-size:20px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
        font-size: 45px;
    }
    .marginTop {
        margin-top: 20px;
    }
    .fontSizeText {
        font-size: 30px;
    }
    .fontSizeText:hover {
            font-size: 40px;
    }
    .fontSizeTitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {

    .social-iconsInfo .prm .link-icon {
        color: black;
        font-size: 35px;
        height: 38px;
        width: 38px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
            font-size: 45px;
    }
    .fontSizeText {
        font-size: 35px;
    }

    .fontSizeText:hover {
            font-size: 40px;
    }
    .fontSizeTitle {
        font-size: 35px;
    }
   
}
@media screen and (max-width: 770px) {

    .social-iconsInfo .prm .link-icon {
        color: black;
        font-size: 25px;
        height: 25px;
        width: 25px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
            font-size: 35px;
    }
    .fontSizeText {
        font-size: 20px;
        margin-left: 20px;
    }

    .fontSizeText:hover {
            font-size: 30px;
    }
    .fontSizeTitle {
        font-size: 20px;
    }
    
}
@media screen and (max-width: 426px) {

    .social-iconsInfo .prm .link-icon {
        color: black;
        font-size: 25px;
        height: 18px;
        width: 35px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
            font-size: 35px;
    }
    .fontSizeText {
        font-size: 25px;
        margin-left: 10px;
    }

    .fontSizeText:hover {
            font-size: 30px;
    }
    .fontSizeTitle {
        font-size: 25px;
    }
}
@media screen and (max-width: 376px) {

    .social-iconsInfo .prm .link-icon {
        color: black;
        font-size: 20px;
        height: 25px;
        width: 25px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
            font-size: 30px;
            margin-left: 15px;
    }

    .fontSizeText {
        font-size: 20px;
    }

    .fontSizeText:hover {
            font-size: 25px;
    }
    .fontSizeTitle {
        font-size: 20px;
    }
}
@media screen and (max-width: 321px) {

    .social-iconsInfo .prm .link-icon {
        color: black;
        font-size: 20px;
        height: 20px;
        width: 15px;
    }
    .social-iconsInfo .prm .link-icon:hover .icon {
            font-size: 30px;
    }
    .fontSizeText {
        font-size: 20px;
        margin-left:20px;
    }

    .fontSizeText:hover {
            font-size: 25px;
    }
    .fontSizeTitle {
        font-size: 20px;
    }
}


