<link type="text/css" rel="stylesheet" href="~/css/Media/CreatedNews.css"/>
@model Autopodbor_312.Models.News


@{
    ViewData["Title"] = "Create";
}
<form asp-action="CreatedNews" asp-controller="Media" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            
            <div class="custom-file">
                <input type="file" name="uploadFile" multiple/><br>
                <label class="custom-file-label" for="customFile">Выберите фото</label>
            </div>

             <div class="form-group">
                <label сlass="control-label">Загрузка видео</label>
                <input type="file" name="video" /><br> 
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

    
</form>