@model List<Portfolio>

@{
    ViewData["Title"] = "Главная страница";
}
        @if(User.IsInRole("mediaManager")) {
<a asp-action="CreatePortfolio" asp-controller="Media">Create Portfolio</a>
        }
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <img class="w-75" src="@item.Image.Path" />
                <br />
                @item.Name
                <br />  
                <p class="card-text">@item.Body</p>
                <br /> 
                <a asp-controller="Media" asp-action="EditPortfolio" asp-route-id="@item.Id">Изменить</a>
            </div>
        }
    </div>
</div>
